#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDR_MANIFEST RT_MANIFEST "manifest.xml"

IDD_UWPCHAR DIALOGEX 0, 0, 560, 365
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN | DS_SETFONT | DS_CENTERMOUSE
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "uwpchar - icon font browser"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Font:", IDC_FONT_LABEL, 6, 11, 34, 9
    COMBOBOX ID_FONT_COMBO, 42, 8, 214, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Size:", IDC_SIZE_LABEL, 6, 34, 34, 9
    COMBOBOX ID_SIZE_COMBO, 42, 31, 28, 40, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX "Merged pairs", ID_MERGED_CHECK, 108, 32, 76, 10
    AUTOCHECKBOX "Show legacy", ID_LEGACY_CHECK, 188, 32, 72, 10
    LTEXT "Filter:", IDC_FILTER_LABEL, 6, 58, 34, 9
    CONTROL "", ID_FILTER_EDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL, 42, 55, 214, 14, WS_EX_CLIENTEDGE
    PUSHBUTTON "Fore", ID_COLOR_FORE, 6, 78, 42, 16
    PUSHBUTTON "Back", ID_COLOR_BACK, 54, 78, 42, 16
    PUSHBUTTON "Pair", ID_COLOR_PAIR, 102, 78, 42, 16
    PUSHBUTTON "Copy", ID_COPY_BUTTON, 154, 78, 54, 16
    LTEXT "", ID_STATUS, 6, 102, 250, 10
    CONTROL "", ID_MODE_TAB, "SysTabControl32", WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_TABSTOP, 6, 116, 250, 231
    CONTROL "", ID_EXPORT_EDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | ES_MULTILINE | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_NOHIDESEL | ES_WANTRETURN | WS_HSCROLL | WS_VSCROLL, 12, 140, 238, 201
    CONTROL "", ID_COMPLEX_VIEW, "UwpCharComplexView", WS_CHILD | WS_TABSTOP | WS_BORDER, 12, 140, 238, 126
    CONTROL "", ID_COMPLEX_LIST, "LISTBOX", WS_CHILD | WS_TABSTOP | WS_BORDER | WS_VSCROLL | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT, 12, 272, 238, 69
    CONTROL "", ID_VIEW, "UwpCharAsmView", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 270, 8, 282, 339
END

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "fasm2 examples\0"
            VALUE "FileDescription", "Font icon helper samples - fasm2 example\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "InternalName", "font_icons\0"
            VALUE "ProductName", "Font icon helper samples\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
