#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDR_MANIFEST RT_MANIFEST "manifest.xml"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "fasm2 examples\0"
            VALUE "FileDescription", "Font icon helper demo - fasm2 example\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "InternalName", "font_icon_demo\0"
            VALUE "ProductName", "Font icon helper samples\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
